<div class = "layout-topbar">
    <div class="flex justify-content-between flex-wrap card-container purple-container">
        <div class = "flex align-items-center justify-content-center">
            <a style="cursor: pointer">
                <p-image src="assets/logos/my-eCommerce2.png" alt="Image" width="50%" >
                    <ng-template pTemplate="indicator">
                        Indicator Content
                    </ng-template>
                </p-image>
            </a>
            <button
                type="button"
                label="Categorías"
                pButton pRipple icon="pi pi-list"
                class=" p-button-link p-button-sm mr-3"
                tooltip="Categorías de productos"

                tooltipPosition="bottom" ></button>
            <button
                type="button"
                label="Productos"
                pButton pRipple icon="pi pi-th-large"
                class="p-button-link p-button-warning p-button-sm mr-3"
                tooltip="Productos"

                tooltipPosition="bottom" >
            </button>
            <!-- <a href="#" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">Download</a>
            <a href="#" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">Download</a> -->
        </div>
        <div class = "flex align-items-center justify-content-center">
            <a style="cursor: pointer">
                <i class="pi pi-shopping-cart mr-4 p-text-secondary" pBadge style="font-size: 2rem"></i>
            </a>

            <button
                pButton type="button"
                label="Login"
                class="p-button-link">
            </button>
            <button type="button"
                pButton pRipple
                icon="pi pi-user"
                class="p-button-rounded p-button-secondary">
            </button>
        </div>
    </div>
</div>
